# Dataset
archive.zip

data/*
!data/.gitkeep

# Model checkpoints
checkpoints/*
!checkpoints/.gitkeep

# Results
results/*
!results/.gitkeep

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db